PORT=4000
CLIENT_ORIGIN=http://localhost:5173
DB_SERVER=localhost
DB_PORT=1433
DB_NAME=LibraryDB
DB_USER=sa
DB_PASSWORD=Password@123456
DB_ENCRYPT=false
JWT_ACCESS_SECRET=change-this-access-secret
JWT_REFRESH_SECRET=change-this-refresh-secret
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d
